:root{
--pale-violet: hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
--moderate-violet: hsl(276, 55%, 52%); /*chat on the left*/
--desaturated-dark-violet: hsl(271, 15%, 43%); /*chat on the right*/
--grayish-blue: hsl(206, 6%, 79%); /*placeholder text*/
--very-dark-desaturated-violet: hsl(271, 36%, 24%); /*main heading*/
--dark-grayish-violet: hsl(270, 7%, 64%); /*paragraph*/

--light-magenta: hsl(293, 100%, 63%); /* linear gradient background start*/
--light-violet: hsl(264, 100%, 61%); /* linear gradient background end*/

--white: hsl(0,0%,100%);
--light-grayish-violet: hsl(270, 20%, 96%); /* app background*/
--very-dark-desaturated-violet-background: hsl(271, 36%, 24%); /* submit button background*/
--very-light-magenta: hsl(289, 100%, 72%); /* radio button outline*/
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{

    font-size: 16px;
    font-family: "Rubik", sans-serif;
    background: white;
}

.container{
    display: flex;
    position: relative;
    overflow: hidden;
}

.background:nth-child(1){
    --height: 100vh;
    --width: 600px;
    height: var(--height);
    width: var(--width);
    margin-top: -100px;
    
    position: absolute;
       
    border-radius: 0 0 calc(var(--height)/2) calc(var(--height)/2);
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet) 50%);
    
    transform: translateX(-70px);
    z-index:0;
}
.background:nth-child(2)    {
    --height: 100vh;
    --width: 600px;
    height: var(--height);
    width: var(--width);
    margin-top: 100px;
    
    position: absolute;
    transform: translateX(1320px);
    
    border-radius: calc(var(--height)/2) calc(var(--height)/2) 0 0;
    background: var(--light-grayish-violet);
    
    z-index:0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;   
    line-height: 1.6em;
    padding-right: 310px;
    transform: translateY(-10px);
}

.main h1{
    color: var(--very-dark-desaturated-violet);
    margin: 0.7em 0;
    font-size: 2.5em;
}
.main p{
    color: var(--dark-grayish-violet);
}