:root{
--pale-violet: hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
--moderate-violet: hsl(276, 55%, 52%); /*chat on the left*/
--desaturated-dark-violet: hsl(271, 15%, 43%); /*chat on the right*/
--grayish-blue: hsl(206, 6%, 79%); /*placeholder text*/
--very-dark-desaturated-violet: hsl(271, 36%, 24%); /*main heading*/
--dark-grayish-violet: hsl(270, 7%, 64%); /*paragraph*/

--light-magenta: hsl(293, 100%, 63%); /* linear gradient background start*/
--light-violet: hsl(264, 100%, 61%); /* linear gradient background end*/

--white: hsl(0,0%,100%);
--light-grayish-violet: hsl(270, 20%, 96%); /* app background*/
--very-dark-desaturated-violet-background: hsl(271, 36%, 24%); /* submit button background*/
--very-light-magenta: hsl(289, 100%, 72%); /* radio button outline*/
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    background: hsl(270, 20%, 80%);
}

.container{
    display: flex;
        
}

.background{
    --height: 80vh;
    --width: 30vw;
    height: var(--height);
    width: var(--width);
    
    display: flex;
    flex-shrink: 0;
    
    border-radius: 0 0 calc(var(--height)/2) calc(var(--height)/2);
    background: linear-gradient(var(--light-magenta), var(--light-violet));
    
    transform: translateX(-5vw);
    z-index: 0;
}

.main{
    display: flex;
    flex-direction: column;
    
}