:root{
--pale-violet: hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
--moderate-violet: hsl(276, 55%, 52%); /*chat on the left*/
--desaturated-dark-violet: hsl(271, 15%, 43%); /*chat on the right*/
--grayish-blue: hsl(206, 6%, 79%); /*placeholder text*/
--very-dark-desaturated-violet: hsl(271, 36%, 24%); /*main heading*/
--dark-grayish-violet: hsl(270, 7%, 64%); /*paragraph*/

--light-magenta: hsl(293, 100%, 63%); /* linear gradient background start*/
--light-violet: hsl(264, 100%, 61%); /* linear gradient background end*/

--white: hsl(0,0%,100%);
--light-grayish-violet: hsl(270, 20%, 96%); /* app background*/
--very-dark-desaturated-violet-background: hsl(271, 36%, 24%); /* submit button background*/
--very-light-magenta: hsl(289, 100%, 72%); /* radio button outline*/
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{

    font-size: 16px;
    font-family: "Rubik", sans-serif;
    background: white;

}

.container{
    display: flex;
    position: relative;
    overflow: hidden;
}

.background:nth-child(1){
    --height: 700px;
    --width: 600px;
    height: var(--height);
    width: var(--width);
    
    position: absolute;
       
    border-radius: 0 0 calc(var(--height)/2) calc(var(--height)/2);
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet) 50%);
    
    transform: translateX(-70px);
    z-index:0;
}
.background:nth-child(2)    {
    --height: 730px;
    --width: 600px;
    height: var(--height);
    width: var(--width);
    
    position: absolute;
    transform: translate(1256px, 70px);
    
    border-radius: calc(var(--height)/2) calc(var(--height)/2) 0 0;
    background: var(--light-grayish-violet);
    
    z-index:0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 135px;   
    line-height: 1.6em;
    transform: translateY(-10px);
}
.main .text{
    
    height: 156px;
    width: 444px;
}


.main h1{
    color: var(--very-dark-desaturated-violet);
    padding-bottom: 0.7em;
    font-size: 2.5em;
}
.main p{
    color: var(--dark-grayish-violet);
}

@media only screen and (max-width: 1305px){
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0em 2em;
        text-align: center;
    }
    .main .text{
        height: auto;
        width: auto;
    }
    .text{
        margin-top: -20px;
    }
    
    
    
    
    .background:nth-child(1){
        --height: 600px;
        --width: 375px;
        height: var(--height);
        width: var(--width);

        position: absolute;

        border-radius: 0 0 calc(var(--height)/2) calc(var(--height)/4);
        background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet) 50%);

        transform: translateX(calc(-375px/2));
        z-index:0;
    }
    .background:nth-child(2){
        visibility: hidden;
    }

}